<a href="https://colab.research.google.com/github/10do/Python-Practice/blob/main/Day1_pt_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('hello')

hello

In [ ]:
print (4 * 4)

16

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]

In [ ]:
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print (my_list[3])

4

In [ ]:
print(my_list [5:])

[6, 7, 8, 9]

In [ ]:
print(my_list[-2])

8

In [ ]:
my_list[0]=0

In [ ]:
print(my_list)

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list.insert(1, 1)
print(my_list)

[0, 1, 1, 1, 1, 1, 2, 4.5, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
my_list.insert(5, 4.5)
print (my_list)

[0, 1, 1, 1, 2, 4.5, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list.append(10)
print (my_list)

[0, 1, 1, 1, 2, 4.5, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
del(my_list)[1:4]
print (my_list)

[0, 2, 4.5, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
my_list_1 = []
print(my_list_1)

[]

In [ ]:
my_list_2 = list()
print(my_list_2)

[]

In [ ]:
my_list_3 = list([1,2,3,4,5])
print(my_list_3)

[1, 2, 3, 4, 5]

In [ ]:
name = input('what is your name? ')

what is your name? Tendo

In [ ]:
age = input ('what is your age ')

what is your age 37

In [ ]:
dob = input('what is your date of birth ')

what is your date of birth 01.02.1985

In [ ]:
print(name, age, dob)

Tendo 37 01.02.1985

In [ ]:
my_list_4 = list ()
print(my_list_4)

[]

In [ ]:
my_list_4 = [name, age, dob]
print(my_list_4)

['Tendo', '37', '01.02.1985']

In [ ]:
mytuple = tuple(my_list_4)
print(mytuple)
print(type(mytuple))

('Tendo', '37', '01.02.1985')
<class 'tuple'>

In [ ]:
dictionary_1 = {'name' : name, 'age':age, 'dob': dob}
print (dictionary_1)
print(type(dictionary_1))

{'name': 'Tendo', 'age': '37', 'dob': '01.02.1985'}
<class 'dict'>

In [ ]:
myset = set(my_list_4)
print(myset)
print (type(myset))

{'37', 'Tendo', '01.02.1985'}
<class 'set'>

In [ ]:
annualSales = 200000
region = "North"
newCustomer = True

if annualSales >= 500000:
  print ("Gold Customer")

elif annualSales >= 300000:
  print ("Silver Customer")
  if region == "South":
    print("Coupon for 50% off with code SAVE50")
  else: 
    print ("Coupon for 10% off with code SAVE10")  

elif annualSales >= 100000 and newCustomer:
  print ("Bronze Customer and you are a first prize winner") 

else:
    print ("We haven\'t seen you lately!")
  
print ("Thank you for your business")

Bronze Customer and You are a first prize winner
Thank you for your business