<a href="https://colab.research.google.com/github/10do/Python-Practice/blob/main/day_4_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
def cubed_calc (x):
  cubed_calc = x ** 3
  return (x**3)

answer = (cubed_calc(4))
print (answer)

64

In [15]:
%%file maths.py
def times_two(x):
  answer = x **2
  return answer

Writing maths.py

In [16]:
%%file test_maths.py
import maths
def test_times_two ():
    assert maths.times_two(3) ==6
    return

Writing test_maths.py

In [17]:
!python -m pytest test_maths.py

============================= test session starts ==============================
platform linux -- Python 3.7.12, pytest-3.6.4, py-1.11.0, pluggy-0.7.1
rootdir: /content, inifile:
plugins: typeguard-2.7.1
collected 1 item

test_maths.py F                                                          [100%]

=================================== FAILURES ===================================
________________________________ test_times_two ________________________________

    def test_times_two ():
>       assert maths.times_two(3) ==6
E       assert 9 == 6
E        +  where 9 = <function times_two at 0x7f069a7edb90>(3)
E        +    where <function times_two at 0x7f069a7edb90> = maths.times_two

test_maths.py:3: AssertionError
=========================== 1 failed in 0.05 seconds ===========================

In [29]:
my_list = []
['apples']
print (my_list)
my_list.append('apples')
print (my_list)

[]
['apples']

In [ ]:
def is_leap_year(year):
  # Given a year, work out if this is a leap year.
  
  # Start by checking if the year is divisible by 4. Years that are not
  # divisible by 4 are never leap years.
  is_divisible_by_4 = (year%4)==0

  # We also need to check if the year is divisible by 100 and 400.
  # Years that are divisible by 100 are not leap years, unless they're also
  # divisible by 400.
  is_divisible_by_100 = (year%100)==0
  is_divisible_by_400 = (year%400)==0

  # Determine the result
  return \
    is_divisible_by_4 and \
    (is_divisible_by_400 or not is_divisible_by_100