<a href="https://colab.research.google.com/github/10do/Python-Practice/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
day = 'saturday'

if day == 'sunday' or day == 'monday':
  print ('closed')

elif day == 'saturday':
  print ('open 9-12')

else:
  print ('open 9-5')


print ('thanks for visiting!')

open 9-12
thanks for visiting!

In [ ]:
day = input(print('what day is it today'))

if day == 'sunday' or day == 'monday':
  print ('closed')

elif day == 'saturday':
  print ('open 9-12')

else:
  print ('open 9-5')


print ('thanks for visiting!')

what day is it today
saturday
open 9-12
thanks for visiting!

In [ ]:
height = 91

if height > 117:
  print('You can ride on the big dipper!')

elif height >= 90:
  print('Sorry, no big dipper for you, but you can go on some of the rides') 
  

else:
  print('sorry! Too short to ride this time')

Sorry, no big dipper for you, but you can go on some of the rides

In [ ]:
height = 100

if height  < 90 or height > 250:
  print('Sorry! You can\'t go on any rides')

In [ ]:
height = 90
shoes = 'flip flops'

if height > 117:

  if shoes == 'flip flops':
    print('No rides for you because of your shoes')
  else:
    print('you can go on ride due to your height and shoes')

else:
  print('no rides because of your height')

no rides because of your height

In [ ]:

grade = mark *100/90
mark = int (input('What is your mark? '))

if grade > 70:
  print ('Distinction')

elif grade >= 40 or grade <= 70:
  print('Pass')

else:
  print ('Fail')

print(grade)

What is your mark? 70
Distinction
77.77777777777777

In [ ]:

grade = mark *100/90
mark = int (input('What is your mark? '))

if grade > 70:
  print ('Distinction')

elif grade >= 40 or grade <= 70:
  print('Pass')

else:
  print ('Fail')

print(grade)

What is your mark? 70
Distinction
77.77777777777777

In [ ]:
mark = int (input('What is your mark? '))
grade = int (mark *100/90)

grade = []

if grade > 70:
  print ('Distinction')

elif grade >= 40:
  print('Pass')

else:
  print ('Fail')

print(grade, '%')

What is your mark? 20
Fail
22 %

In [ ]:
#if, elif, else
mark = int (input('What is your mark? '))
grade = int (mark *100/90)

testResults = []

if grade > 70:
  testResults.append ('Distinction')

elif grade >= 40:
  testResults.append ('Pass')

else:
  testResults.append ('Fail')

print (grade, '%')
print (testResults)

What is your mark? 88
97 %
['Distinction']

In [ ]:
for number in (1,2,3,4,5):
  print(number *2)

2
4
6
8
10

In [ ]:
#lists
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#length, width, depth
post=[ [7,5,8], [10,10,1.5], [20,15,0.5], [3,3,3], [9,6,0.7] ]

In [ ]:
print (post[2] [1])

15

In [ ]:
#for statement
for item in post:
  if item[2] <= 0.5:
    print(item, 'small letter')

  elif item[2] <= 2.5:
    print(item, 'large letter')

  else:
    print(item, 'parcel')

[7, 5, 8] parcel
[10, 10, 1.5] large letter
[20, 15, 0.5] small letter
[3, 3, 3] parcel
[9, 6, 0.7] large letter

In [ ]:
#while loop
a = 10

while a < 15:
  print (a)
  a += 1

10
11
12
13
14

In [ ]:
#while loop
a = '.........hello'

while a[0] == '.':
    a = a[1:]
    print (a)

........hello
.......hello
......hello
.....hello
....hello
...hello
..hello
.hello
hello

In [ ]:
#conditional statements
#length, width, depth
post=[ [7,5,8], [10,10,1.5], [20,15,0.5], [3,3,3], [9,6,0.7] ]

for item in post:
  if item [0] <= 24 and item [1] <= 16.5 and item[2] <= 0.5: 
    print(item, 'small letter')

  elif item [0] <= 35.3 and item [1] <= 25 and item[2] <= 2.5: 
    print(item, 'large letter')

  else:
    print(item, 'parcel')

[7, 5, 8] parcel
[10, 10, 1.5] large letter
[20, 15, 0.5] small letter
[3, 3, 3] parcel
[9, 6, 0.7] large letter

In [ ]:
#calculator
first_number = float(input('Enter your first number: '))
second_number = float(input('Enter your second number: '))
 
add = first_number + second_number
my_reduce = first_number - second_number
multiply = first_number * second_number
divide = first_number / second_number
my_remainder = first_number % second_number
 
print(f'{first_number} + {second_number} = {add}')
print(f'{first_number} - {second_number} = {my_reduce}')
print(f'{first_number} * {second_number} = {multiply}')
print(f'{first_number} / {second_number} = {divide}')
print(f'{first_number} % {second_number} = {my_remainder}')

anotherGo = input ('Do you want to make another calculation? ')
for answer in anotherGo:
  if 'yes'

SyntaxError: ignored

In [ ]:
#nested if table
#start with smallest number first
#length, width, depth
post=[ [7,5,8], [10,10,1.5], [20,15,0.5], [3,3,3], [9,6,0.7] ]

for item in post:
  if item[2] <= 0.5:
    if item [0] <= 24:  
     if item [1] <= 16.5:
      
        print(item, 'small letter')

  elif  item[2] <= 2.5: 
    if item [1] <= 25:
      if item [0] <= 35.3:
        print(item, 'large letter')

  else:
    print(item, 'parcel')

[7, 5, 8] parcel
[10, 10, 1.5] large letter
[20, 15, 0.5] small letter
[3, 3, 3] parcel
[9, 6, 0.7] large letter

In [ ]:
myFile = open('python_text.txt', 'w')

In [ ]:
myFile.write ('This is a new file.\n')
myFile.close()

In [ ]:
new_file = open('python_text.txt', 'r')
output = new_file.read()
print(output)
new_file.close()

This is a new file.

In [ ]:
print(output)

This is a new file.

In [ ]:
new_file = open('python_text.txt', 'a')
new_file.write('second line.\n')
new_file.write('third line.\n')
new_file.close()

In [4]:
my_name = 1234
try:
  print(my_name)
except:
  print('variable name not assigned')
except AttributeError:
  print('please enter a valid name')

SyntaxError: ignored

In [ ]:
f = open('python_text.txt', 'a')
try:
  f.write('some text.\n')
except:
    print('failed to write to file')
  
else:
    print('written to file')
finally:
  f.close()

written to file